client

tls-client
auth SHA256
cipher AES-256-CBC
tls-version-min 1.2

dev tun
proto {{ openvpn_proto }} 
remote {{ openvpn_address }} {{ openvpn_port }}

resolv-retry 5
nobind
keepalive 5 30
persist-key
persist-tun
verb 3 

route-method exe
route-delay 2

key-direction 1

<ca>
{{ openvpn_ca_cert.content|b64decode }}
</ca>

<cert>
{{ item.0.content|b64decode }}
</cert>


<tls-auth>
{{ openvpn_tls_auth|b64decode }}
</tls-auth>

<key>
{{ item.1.content|b64decode }}
</key>