server {
        listen {{nginx_port}};
        # В ubuntu указываем такой путь до сайта
        root /var/www/drupal;


        index index.html index.htm index.nginx-debian.html;

        server_name {{ ansible_host }};


        location / {
                try_files $uri $uri/ =404;
        }

        location ~ /\.ht {
                deny all;
        }
	location ~ \.php$ {
    	    try_files $uri =404;
    	    fastcgi_split_path_info ^(.+\.php)(/.+)$;
    	    fastcgi_pass unix:/var/run/php/php8.1-fpm.sock;
    	    fastcgi_index index.php;
    	    fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    	    include fastcgi_params;
	}
}

}
